body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(240, 248, 255);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    border: 2px solid rgb(164, 224, 248);

    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 10px;
   height: 280px;
}

.input {
    display: flex;
    justify-content: flex-end;    
    border: 1px solid;
    padding: 15px;
    width: 240px;
    height: 20px;
}
  
.operators {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

    
    
.operators>div {
    width: 50px;
    border: 1px solid ;
    padding: 5px;
}
    
.calculation {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numbers>div {
    width: 50px;
    border: 1px solid;
    padding: 5px;
}
   
.equals {
    display: flex;
    background-color: rgb(79, 122, 210);
    color: white;
    width: 60px;
    justify-content: center;
    align-items: center;
}




